
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    <!-- build:css -->
    <link href="Styles/roster.css" rel="stylesheet">
    <link href="Styles/primary.css" rel="stylesheet">
    <!-- endbuild -->
</head>
<body>
    <h1> This is the home!
    </h1>
</body>
</html>
